<link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function () {
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#8176b0",
                    "text": "#fffcfd"
                },
                "button": {
                    "background": "#f7ddeb",
                    "text": "#3f2d52"
                }
            }
        })
    });
</script>