<!-- Additional head bits without overriding original head -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">


<style>
.link_icon{
    margin: -5px;
    transform: rotate(180deg);   
    -webkit-transform: rotate(180deg);   
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);    
}
.link_icon:hover{    
    transform: rotate(360deg);   
    -webkit-transform: rotate(360deg);  
}
</style>

<svg class="defs-only">
    <filter id="visual-duotone" x="0" y="0" height="100%" width="100%" color-interpolation-filters="sRGB">
        <feColorMatrix type="matrix" values="0 1.25 0.0 0.01 0                     0 1.02 0 0.0 0                     0 1.02 0 0.18 0                      0 0 0 1 0 "/>
    </filter>
</svg>
