<div style="width: 100%; text-align: center;">
        <span style="font-size: 32px; margin: 0px">
                <a href="https://twitter.com/{{ site.twitter_username }}" target="blank" style="text-decoration: none"><i
                                class="fa fa-twitter link-icon" aria-hidden="true"></i></a>
                <a href="https://soundcloud.com/{{ site.soundcloud_username }}" target="blank" style="text-decoration: none"> <i
                                class="fa fa-soundcloud link-icon" aria-hidden="true"></i></a>
                <a href="https://github.com/{{ site.github_username }}" target="blank" style="text-decoration: none"><i
                                class="fa fa-github link-icon" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/{{ site.facebook_username }}" target="blank" style="text-decoration: none"><i
                                class="fa fa-facebook link-icon" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/{{ site.youtube_username }}" target="blank" style="text-decoration: none"><i
                                class="fa fa-youtube link-icon" aria-hidden="true"></i></a>
                <a href="https://www.twitch.tv/{{ site.twitch_username }}" target="blank" style="text-decoration: none"><i
                                class="fa fa-twitch link-icon" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/{{ site.instagram_username }}/" target="blank" style="text-decoration: none">
                        <i class="fa fa-instagram link-icon"></i></a>
        </span>
</div>