<div style="width: 100%; text-align: center;">
        <span style="font-size: 32px; margin: 0px">
                <!-- Optional additional links to insert for icons links -->
                <a href="https://twitter.com/blokatt" target="blank" style="text-decoration: none"><i
                                class="fa fa-twitter link-icon" aria-hidden="true"></i></a>
                <a href="https://soundcloud.com/blokatt" target="blank" style="text-decoration: none"> <i
                                class="fa fa-soundcloud link-icon" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/Blokatt/" target="blank" style="text-decoration: none"><i
                                class="fa fa-github link-icon" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/blokattgames" target="blank" style="text-decoration: none"><i
                                class="fa fa-facebook link-icon" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/Blokatt" target="blank" style="text-decoration: none"><i
                                class="fa fa-youtube link-icon" aria-hidden="true"></i></a>
                <a href="https://www.twitch.tv/blokatt" target="blank" style="text-decoration: none"><i
                                class="fa fa-twitch link-icon" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/blokatt/" target="blank" style="text-decoration: none">
                        <i class="fa fa-instagram link-icon"></i></a>
        </span>
</div>