<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/assets/jquery-3.4.1.min.js">\x3C/script>')</script>

<img src='/assets/background_content.png' style="display: none;"></img>
<img src='/assets/background_wide_thumbnail.png' style="display: none;"></img>
<img src='/assets/background_content_pronounced.png' style="display: none;"></img>

<link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
<meta name="theme-color" content="#1d0c33" />

<svg class="defs-only">
    <filter id="visual-duotone" x="0" y="0" height="100%" width="100%" color-interpolation-filters="sRGB">
        <!--<feColorMatrix type="matrix" values="0 1.25 0.0 0.01 0                     0 1.02 0 0.0 0                     0 1.02 0 0.18 0                      0 0 0 1 0 "/>-->
        <!--
                        0.30 1.02 0.00 0.00 0.00
            0.30 0.72 0.00 0.00 0.00
            0.30 0.72 0.05 0.20 0.00
            0.00 0.00 0.00 1.00 0.00
        -->
        <feColorMatrix type="matrix" values="
            0.30 1.02 0.00 0.04 0.00
            0.25 0.72 0.00 0.02 0.00
            0.40 0.72 0.05 0.20 0.00
            0.00 0.00 0.00 1.00 0.00        
        " />
    </filter>
</svg>

{% seo %}