<div id="sidebar">
  <header>
    <p>
      <div class="header-logo" style="position:relative;">
        <iframe class="header-frame" src="/assets/3D/glHeader.html?v=1.1" scrolling="no" height="200"></iframe>
        <a href="{{ site.baseurl }}/"
          style="position:absolute; top:0; left:0; display:inline-block; width:100%; height:100%; border: none; z-index:2;"></a>
      </div>
    </p>
    <p class="lead">jan vorisek |&nbsp;<span style="color:#ffeaea">odditica</span></p>
  </header>
  {% include sidebar-nav-links.html %}
  {% if site.version %}
  <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}
  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>
<div class="sidebar-stripe-wrapper">
  <div id="sidebar-stripe-background"></div>
  <div id="sidebar-stripe-parallax"></div>
</div>
{% if page.layout != "index" %}
<style>
  @media only screen and (max-width: 49rem) {
    #sidebar {
      background-position: right 50% bottom -135px;
    }

    .header-logo {
      display: none;
    }
  }
</style>
{% endif %}