
<div id="sidebar">
  
  
  <header>    
    <p>

    <div class="header-logo" style="position:relative;">
    <iframe src="/assets/3D/glHeader.html" style="box-sizing: border-box; overflow: hidden; width: 100%; border-style: dotted; border-width: 2px; border-color: white" scrolling="no" height="200"></iframe>    
    <a href="{{ site.baseurl }}/" style="position:absolute; top:0; left:0; display:inline-block; width:100%; height:100%; border: none; z-index:2;"></a>
    </div>
    
    </p>


    <!--
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    -->
    <p class="lead">{{ site.description }}</p>
  </header>
  {% include sidebar-nav-links.html %}

  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}

  {% include sidebar-icon-links.html %}
  {% include copyright.html %}


</div>


  {% if page.layout != "index" %}
  
  <style>
    @media only screen and (max-width: 49rem) {
      #sidebar {
        background-position: right 50% bottom -135px;
      }
      .header-logo {
        display: none;
      }
    }
  </style>{% endif %}

  <script>
    var activeLink = $('.page-link.active');
    if (activeLink) {
      var activeLinkLetters = activeLink.text().split("");
      activeLink.html("");      
      activeLinkLetters.forEach(function (currentValue) {
        activeLink.append("<span class=\"page-link-char\">" + currentValue);
      });
    }    
    
    var time = 0;
    var timePrev = 0;
    var linkCharFade = 0.0;
    function sidebarAnimation() {            
      if (timePrev != 0) {
        time += (Date.now() - timePrev);
      }
      timePrev = Date.now();
      linkCharFade = Math.min(1., time / 200.0);
      //$('.page-link.active').css('letter-spacing', (.05 + Math.sin(time / 1000) * 0.05).toString() + 'rem');          
      $('.page-link-char').each(function (index) {
          $(this).css('opacity', (.75 + Math.sin(index * .5 + time / 200) * .25).toString());
          $(this).css('letter-spacing',  (linkCharFade * (.08 + Math.sin(index * .5 + time / 200.0) * 0.04)).toString() + 'rem');
          //$(this).css('padding-right', (0.2 + Math.sin(index * .5 + time / 100) * 0.1).toString() + "rem");
      });
      

      window.requestAnimationFrame(sidebarAnimation);    
    }
    window.requestAnimationFrame(sidebarAnimation);    

    
    
      
  </script>