---
# Jekyll needs front matter for SCSS files
---


$sidebar-fg-color: #fff0ef !default;

$sidebar-title-color: red;
$sidebar-link-color: red;
$sidebar-text-color: red;
$sidebar-icon-color: red;

//, #0f101d
$sidebar-bg-color: #5e4c8a;
$link-color: #6b3079;
$sidebar-sticky: false;

$body-bg: #ffeaea!default;

$root-font-family: "Inconsolata", "Courier New", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif !default;

$code-font-family: "Inconsolata", Menlo, Monaco, "Courier New", monospace !default;
$code-color: #bf616a !default;

$colour-border-purple: rgba(100, 77, 189, 0.46);


$body-color: #574979 !default;
$body-muted: #39324a !default;
$heading-color: #48286d !default;


@import "hydeout";



.content a {          
    font-weight: bold;
}

.content a:hover {
  text-decoration: none;
  border-bottom: 1px solid;     
  background: #fff7f7;
}

.visual-preview-video {
  border-style: dashed;
  border-width: 2px;
  border-color: $heading-color;
  font-size: 0; 
}

.visual-full {
    position: relative;     
    width: 100%; 
    height: 100%;         
    overflow: hidden;
}

.visual-preview {
  position:relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
  border-style: dashed;
  border-width: 2px;
  border-color: $heading-color;
}
hr {
    height: 2px;
    color: $colour-border-purple;
    background-color: $colour-border-purple;
    border: none;
}


#sidebar {
  flex: 0 0 auto;
  padding: $section-spacing;

  background-image: url('/assets/sidebar-background.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  .site-title {
    font-family: "Abril Fatface", serif;
    font-weight: normal;
    font-size: $large-font-size;
    margin-top: 0;
    margin-bottom: $heading-spacing;

    .back-arrow { margin-right: 0.5rem; }
  }

  a {
    color: $sidebar-fg-color; 
  }
}

.defs-only {
  position: absolute;
  height: 0; width: 0;
  overflow: none;
  left: -100%;
}

@media only screen and (max-width: $large-breakpoint) {
    #sidebar {
        background-position: right 50% bottom -50px;
    }
}

@media only screen and (max-height: 677px) and (min-width: 49rem) {
    #sidebar {
        background-attachment: scroll;
        background-position: right 50% top 417px;
    }
}


  .visual-row {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }

  .visual-section {
    display: flex;
    overflow: hidden;
    padding: 5px;
    flex: 0 1 20%;
  }

  @media only screen and (max-width: 600px) {
    .visual-section {
      display: flex;
      overflow: hidden;
      padding: 5px;
      flex: 0 1 33%;
    }
  }

  .visual-thumbnail img {
    height: 140px;
    width: 140px;
    object-fit: cover;
  }

  .visual-thumbnail {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 20px;
    overflow: hidden;
    border: 2px $body-muted solid;

    -webkit-transition: all 300ms cubic-bezier(0.345, 0, 0.245, 0.750);
    /* older webkit */
    -webkit-transition: all 300ms cubic-bezier(0.345, -0.245, 0.245, 0.750);
    -moz-transition: all 300ms cubic-bezier(0.345, -0.245, 0.245, 0.750);
    -o-transition: all 300ms cubic-bezier(0.345, -0.245, 0.245, 0.750);
    transition: all 300ms cubic-bezier(0.345, -0.245, 0.245, 0.750);
    /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.345, 0, 0.245, 0.750);
    /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.345, -0.245, 0.245, 0.750);
    -moz-transition-timing-function: cubic-bezier(0.345, -0.245, 0.245, 0.750);
    -o-transition-timing-function: cubic-bezier(0.345, -0.245, 0.245, 0.750);
    transition-timing-function: cubic-bezier(0.345, -0.245, 0.245, 0.750);
    /* custom */

    outline-style: dashed;

    outline-color: rgba(100, 77, 189, 0.46);
    outline-width: 2px;
    outline-offset: 8px;

  }

  .visual-thumbnail:hover {
    -webkit-transition: all 100ms cubic-bezier(1.000, 0.005, 0.680, 1);
    /* older webkit */
    -webkit-transition: all 100ms cubic-bezier(1.000, 0.005, 0.680, 1.005);
    -moz-transition: all 100ms cubic-bezier(1.000, 0.005, 0.680, 1.005);
    -o-transition: all 100ms cubic-bezier(1.000, 0.005, 0.680, 1.005);
    transition: all 100ms cubic-bezier(1.000, 0.005, 0.680, 1.005);
    /* custom */

    -webkit-transition-timing-function: cubic-bezier(1.000, 0.005, 0.680, 1);
    /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(1.000, 0.005, 0.680, 1.005);
    -moz-transition-timing-function: cubic-bezier(1.000, 0.005, 0.680, 1.005);
    -o-transition-timing-function: cubic-bezier(1.000, 0.005, 0.680, 1.005);
    transition-timing-function: cubic-bezier(1.000, 0.005, 0.680, 1.005);
    /* custom */

    border-radius: 5px;
    outline-color: rgba(100, 77, 189, 0.0);
    outline-width: 2px;
    outline-offset: -10px;

  }

  .visual-video {
    width: 100%;
    height: 140px;
    overflow: hidden;
  }



  .visual-video video {
    /*object-fit: contain;*/
    /*       object-fit: fill; */
    -webkit-filter: url(#visual-duotone);
    filter: url(#visual-duotone);
    
  
    -webkit-transition: filter 0.3s;    
    transition: filter 0.3s;
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    
    /* Safari */
    object-fit: cover;
    width: 100%;
    height: 100%;
  }


  @supports (-ms-ime-align:auto) {
    .visual-thumbnail {
      background-color: black;
    }

    .visual-section {
      display: flex;
      overflow: hidden;
      padding: 5px;
      flex: 1 1 20%;
    }

    @media only screen and (max-width: 600px) {
      .visual-section {
        display: flex;
        overflow: hidden;
        padding: 5px;
        flex: 1 1 33%;
      }
    }

    .visual-video {
      object-fit: cover;
      width: 140px;
      height: 140px;
      overflow: hidden;
    }

    .visual-video video {
      /*
      -webkit-filter: url(#visual-duotone);
      filter: url(#visual-duotone);
      */
      -webkit-filter: sepia(100%) hue-rotate(220deg);
      filter: sepia(100%) hue-rotate(220deg);
      object-fit: cover;

    }
  }

  .visual-video video:hover {
    -webkit-filter: none;
    filter: none;
     /*
    filter: sepia(0%) hue-rotate(360deg) contrast(100%);
   
    -webkit-transition: filter 0.1s;
    /* Safari */
    /*
    transition: filter 0.1s;
    */
  }

  .visual-title {
    position: -webkit-sticky;

    overflow: hidden;
    white-space: nowrap;
    margin-top: -3px;
    margin-bottom: -3px;
  }

  .visual-title-wrapper {
    background-color: inherit;
    background-image: inherit;
    background-repeat: inherit;
    position: sticky;
    top: -60px;
    z-index: 2;
  }

  @media only screen and (max-width:790px) {
    .visual-title-wrapper {
      display: none;
    }
  }

  .visual-video video::-webkit-media-controls {
    display: none !important;
  }


.content{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAD0HpUWHRSYXcgcHJvZmlsZSB0eXBlIGV4aWYAAHjarVZbkuQoDPzXKfYISCAQx8HGROwN5vibYKr6Rc10s2MiECWwHpkSLrp+/dvoHzziYqCgyWKO0eEJOWQpWJi7nzJmdmHM9yNT8kc9PTcEKg/p758Wp/6CHmd4nrNz2inQ6ztD+Zobx8eNMg2JTQePiKYjz7cDV6ehMg15mZ7D/fuYnmO29D6F+Z5rc3/AYD01TMEniRo5BcxBXEoxY23iQgJuVceLkvt7ejwMffxNj6OCmOTy7N0931F6pOCzL5CKGWu5tQVzwuy93NESKEMIWOeJ7QP8F8+r6Ol9+JP2j3Q/VvxCP9mmBwtR5ob/xFJ8yqWe9WHoE62Du3eeoz09f9AXebqYBWlvFLZWrbXrzq6EiJTjTOqRyljh3NHRGm9FjOQioQgNiz4yhqEtTtRSdac7ME7OLCCxceDKhRtfQ558IsQglyRIkZPED6WBjCznoDv0wU0SiK/eQPSJkvDQyjMWHm7zcHeyuUquMo4Kwxjjle1B3z3YRk8wO3tihbikVx2icAz6u8AxMMJtgqoD4Mf4/HRePRjUAbMhweIOuk0cym/F5QfRHgcV8m5iTnUaAERwrQiGPRhwkb1yRERJJDEDSANBBaGLD3KAAVaViiAleB9BDnoYvvFO4nFUVG41LkMfCM0Y0X7WWxNkhaConxQMNVTUa1DVqElNs5boY++wGFPst2pJPoWkKaaUjFJOxbwFU4uWzCxbyZI9bl3N6MdsOedS4LTAcsHbBQdKOeTwRzj0iEc67Mh0lBPlc4ZTz3im0858lirVV/RxjTVVq7mWiy+U0hUuveKVLrvyVRpKrfkWmrbYEjVruZUna5PWL+MHrPFkTQZT/WB6sgZtSg8T3K8T7ZyBMQkMwhNYA2Mo7M6ZMw5BOnOdM5cFXaGCILWTU7kzBgbDxaKNn9xN5ggo/hXeKNngTf4vc9Sp+yZzX3lbsVb75/kcjN1t2EF1Ht3XUihiBd59cmNl7qukVxu3FNAZlBWJ2FiBw7WkVxuOY+y2CjK1YbX07/dLScuNUrstjcB1WNX+Kf+9pM8KzTcgKK3XgCwkbQGykLQFyELSFiALPGgLkAUetAXIAg/aAmSBB20BssCDtgBZ4EFbgCzypS1AFnnTHwCROxdz5x+80cswDh22lO1b5UErOPSGI/v4/fL8dLFJvVMJUX5YFfRWHjqMlVC32pY24FiiQRtwLNGgDTiWaOw27Rc0aAOOJRq0AccSDdqA49Wd/WM4llnTBhxLSRtwLOXiqk0N/00y/QesQqPHmDZVsgAAAYVpQ0NQSUNDIFBST0ZJTEUAAHicfZE9SMNAHMVfW0tFKoItIuKQoTpZEBURXKSKRbBQ2gqtOphc+gVNGpIUF0fBteDgx2LVwcVZVwdXQRD8AHFxdVJ0kRL/lxRaxHhw3I939x537wBvo8IUo2scUFRTT8VjQja3KgRe4UcI/RjArMgMLZFezMB1fN3Dw9e7KM9yP/fn6JXzBgM8AvEc03STeIN4etPUOO8Th1lJlInPicd0uiDxI9clh984F2328sywnknNE4eJhWIHSx3MSrpCPEUckRWV8r1Zh2XOW5yVSo217slfGMyrK2mu0xxGHEtIIAkBEmooowITUVpVUgykaD/m4h+y/UlySeQqg5FjAVUoEG0/+B/87tYoTE44ScEY4H+xrI8RILALNOuW9X1sWc0TwPcMXKltf7UBzHySXm9rkSOgbxu4uG5r0h5wuQMMPmmiLtqSj6a3UADez+ibckDoFuhZc3pr7eP0AchQV8s3wMEhMFqk7HWXd3d39vbvmVZ/P7rGcsQM+1SnAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4wUTEhsgW7IowQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAWSURBVAjXY/z/4R3DRwYmho/vGfgZADOfBcHLyDSbAAAAAElFTkSuQmCC');
    background-repeat: repeat;
}

@media (min-width: $large-breakpoint) {
    .container  {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAD0HpUWHRSYXcgcHJvZmlsZSB0eXBlIGV4aWYAAHjarVZbkuQoDPzXKfYISCAQx8HGROwN5vibYKr6Rc10s2MiECWwHpkSLrp+/dvoHzziYqCgyWKO0eEJOWQpWJi7nzJmdmHM9yNT8kc9PTcEKg/p758Wp/6CHmd4nrNz2inQ6ztD+Zobx8eNMg2JTQePiKYjz7cDV6ehMg15mZ7D/fuYnmO29D6F+Z5rc3/AYD01TMEniRo5BcxBXEoxY23iQgJuVceLkvt7ejwMffxNj6OCmOTy7N0931F6pOCzL5CKGWu5tQVzwuy93NESKEMIWOeJ7QP8F8+r6Ol9+JP2j3Q/VvxCP9mmBwtR5ob/xFJ8yqWe9WHoE62Du3eeoz09f9AXebqYBWlvFLZWrbXrzq6EiJTjTOqRyljh3NHRGm9FjOQioQgNiz4yhqEtTtRSdac7ME7OLCCxceDKhRtfQ558IsQglyRIkZPED6WBjCznoDv0wU0SiK/eQPSJkvDQyjMWHm7zcHeyuUquMo4Kwxjjle1B3z3YRk8wO3tihbikVx2icAz6u8AxMMJtgqoD4Mf4/HRePRjUAbMhweIOuk0cym/F5QfRHgcV8m5iTnUaAERwrQiGPRhwkb1yRERJJDEDSANBBaGLD3KAAVaViiAleB9BDnoYvvFO4nFUVG41LkMfCM0Y0X7WWxNkhaConxQMNVTUa1DVqElNs5boY++wGFPst2pJPoWkKaaUjFJOxbwFU4uWzCxbyZI9bl3N6MdsOedS4LTAcsHbBQdKOeTwRzj0iEc67Mh0lBPlc4ZTz3im0858lirVV/RxjTVVq7mWiy+U0hUuveKVLrvyVRpKrfkWmrbYEjVruZUna5PWL+MHrPFkTQZT/WB6sgZtSg8T3K8T7ZyBMQkMwhNYA2Mo7M6ZMw5BOnOdM5cFXaGCILWTU7kzBgbDxaKNn9xN5ggo/hXeKNngTf4vc9Sp+yZzX3lbsVb75/kcjN1t2EF1Ht3XUihiBd59cmNl7qukVxu3FNAZlBWJ2FiBw7WkVxuOY+y2CjK1YbX07/dLScuNUrstjcB1WNX+Kf+9pM8KzTcgKK3XgCwkbQGykLQFyELSFiALPGgLkAUetAXIAg/aAmSBB20BssCDtgBZ4EFbgCzypS1AFnnTHwCROxdz5x+80cswDh22lO1b5UErOPSGI/v4/fL8dLFJvVMJUX5YFfRWHjqMlVC32pY24FiiQRtwLNGgDTiWaOw27Rc0aAOOJRq0AccSDdqA49Wd/WM4llnTBhxLSRtwLOXiqk0N/00y/QesQqPHmDZVsgAAAYVpQ0NQSUNDIFBST0ZJTEUAAHicfZE9SMNAHMVfW0tFKoItIuKQoTpZEBURXKSKRbBQ2gqtOphc+gVNGpIUF0fBteDgx2LVwcVZVwdXQRD8AHFxdVJ0kRL/lxRaxHhw3I939x537wBvo8IUo2scUFRTT8VjQja3KgRe4UcI/RjArMgMLZFezMB1fN3Dw9e7KM9yP/fn6JXzBgM8AvEc03STeIN4etPUOO8Th1lJlInPicd0uiDxI9clh984F2328sywnknNE4eJhWIHSx3MSrpCPEUckRWV8r1Zh2XOW5yVSo217slfGMyrK2mu0xxGHEtIIAkBEmooowITUVpVUgykaD/m4h+y/UlySeQqg5FjAVUoEG0/+B/87tYoTE44ScEY4H+xrI8RILALNOuW9X1sWc0TwPcMXKltf7UBzHySXm9rkSOgbxu4uG5r0h5wuQMMPmmiLtqSj6a3UADez+ibckDoFuhZc3pr7eP0AchQV8s3wMEhMFqk7HWXd3d39vbvmVZ/P7rGcsQM+1SnAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4wUTEhsgW7IowQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAWSURBVAjXY/z/4R3DRwYmho/vGfgZADOfBcHLyDSbAAAAAElFTkSuQmCC');
      background-repeat: repeat;
    }
}



body {
      color: rgb(234, 191, 255);
}