---
layout: post
---
{{ content }}

{% if page.gallery %}
<div class ="subsection">
<h4 class="visual-title">&gt; Pics</h4>        
    {% include gallery.html id=page.gallery %}
</div>
{% endif %}

<div class="subsection">
<h4 class="visual-title">&gt; A few links</h4>    
<span style="font-weight: bold">
    {% if page.gif %}
    <a title="HQ GIF" class="no-lightbox" target="_blank" href="{{ page.gif }}">[GIF]</a>
    {% endif %}
    {% if page.shadertoy_id %}
    <a target="_blank" href="https://www.shadertoy.com/view/{{ page.shadertoy_id }}">[ShaderToy]</a>
    {% endif %}
    {% if page.source_code %}
    <a target="_blank" href="{{ page.source_code }}">[Source code]</a>
    {% endif %}
    {% if page.reddit_id %}
    <a target="_blank" href="https://redd.it/{{ page.reddit_id }}">[Reddit]</a>
    {% endif %}
    {% if page.youtube_id %}
    <a target="_blank" href="https://www.youtube.com/watch?v={{ page.youtube_id }}">[YouTube]</a>
    {% endif %}
    {% if page.twitter_id %}
    <a target="_blank" href="https://twitter.com/blokatt/status/{{ page.twitter_id }}">[Twitter]</a>
    {% endif %}
    {% if page.instagram_id %}
    <a target="_blank" href="https://www.instagram.com/p/{{ page.instagram_id }}">[Instagram]</a>
    {% endif %}
</span>
</div>
{% include lightbox.html %}