---
layout: visual
---
<p>
    <div class="visual-preview-video">
    <video class="visual-full" preload="auto" muted loop autoplay>
        <source src="{{ page.video }}.webm" type="video/webm">
        <source src="{{ page.video }}.mp4" type="video/mp4">
        <source src="{{ page.video }}.ogv" type="video/ogg">
        Your browser does not support HTML5 video, sorry!
    </video>
    </div>
</p>

<script>
    $(document).ready(function () {
        $('.visual-fill').on('load', function () {
            $('.loader').hide();
        });
    });
</script>

{{ content }}
