---
layout: visual
---
<script src="/assets/visual_scripts/webgl_common.js"></script>
{% if page.canvas_script %}
<script src="{{ page.canvas_script }}"></script>
{% endif %}
<p>    
    <div class="visual-preview-outer">
    
        
    <div class="loader" style="z-index: 1; position: relative; width: 100%; height: 100%; text-align: center;">
        Loading...
    </div>
    <canvas id="canvas-visual"></canvas>
    <script>
    $('.loader').hide();
    var canvas = $("#canvas-visual")[0];        
    function resizeCanvas() {
        var newW = $('.visual-preview-outer')[0].offsetWidth - 4;
        var newH = $('.visual-preview-outer')[0].offsetHeight - 4;
        if (Math.floor(canvas.width) != Math.floor(newW) || Math.floor(canvas.height) != Math.floor(newH)) {
            canvas.width = newW;
            canvas.height = newH;
        }        
    }
    function glFailed() {
        $("#canvas-visual").remove();                
        $(".visual-preview-outer").css("overflow", "hidden");                
        $(".visual-preview-outer").append("<center><h2>Something WebGL-related went wrong. Sorry.</h2><h1>:c</h1> </center>")
    }
    //window.addEventListener('resize', resizeCanvas, false);
         
    main();

    </script>
    </div>
</p>
<div class="subsection">
<h4 class="visual-title">&gt; Words</h4>    
{{ content }}
</div>
